body {
  background-color: #333;
  color: #fff;
  font-family: Microsoft JhengHei;
}

.app-container {
  padding: 20px;
}

.popup-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  margin-top: -10px;
  margin-bottom: 15px;
}

input {
  width: 90px;
  padding: 10px;
  margin: 0px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 90px;
  margin-right: 10px;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #3498db;
  color: #fff;
}

.matching-keys-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #555;
  padding: 8px;
  text-align: center;
}

.src {
  text-decoration: none;
  color: #ddd;
}

.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #333333;
  color: #ffffff;
  border: 1px solid #555555;
  border-radius: 5px;
  padding: 8px;
  width: 50px;
  outline: none;
  cursor: pointer;
}

.custom-select option {
  padding: 8px;
}

.custom-select-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.warning-text {
  text-align: left;
  flex-grow: 1;
}

.card-info {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  z-index: 9;
  margin-right: 5px;
}

#imgCover {
  display: flex;
  margin: -18px 0px 10px 0px;
  justify-content: center;
  align-items: center;
}

#td_left {
  text-align: left;
}